* {
  margin: 0;
  padding: 0;
}

.overall {
  display: flex;
  gap: 3rem;
}

.overall ul {
  list-style: none;
}

.overall ul li {
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

.selected {
  background-color: green;
}